*{
    background-color: #3C59AC;
}
#contenedor-cards {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Asegura que el cursor cambie a mano al pasar sobre la card */
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .icono-persona {
    font-size: 40px;
    color: #71DB9B;
    margin-bottom: 8px;
  }

  p{
    color: #fff;
  }
  .pp{
    color: #fff;
  }