
<ion-content [fullscreen]="true">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- Menú lateral -->
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Te llevo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/driver">Conductores</a></li>
        <li><a href="/registrarsep">Pasajeros</a></li>
        <li><a href="/about">Acerca De</a></li>
        <li><a href="/login">Inicio de Sessión</a></li>
      </ul>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img class="ñuber" src="https://www.soul.com.uy/Cuentas/suzuki/public/7fa1df622f.png" alt="Ñuber Logo">
          <p>Te llevo</p>
        </ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Contenedor para la imagen -->
    <ion-content>

  
  <div  class="text-content " >
  <h1>Nuestra Misión</h1>
  <p>
    Nuestra misión es proporcionar experiencias excepcionales a través de soluciones de transporte y servicios que superen las expectativas de nuestros usuarios. Nos esforzamos por hacer que cada viaje y cada interacción sea más conveniente, segura y eficiente, utilizando la última tecnología y manteniendo un compromiso inquebrantable con la calidad y la satisfacción del cliente.
  </p>
  <div class="image-container">
    <img src="assets/Designer (9).jpeg" alt="Descripción de la Imagen">
  </div>
  <h1>Nuestra Visión</h1>
  <p>
    Aspiramos a ser la empresa líder en movilidad y servicios digitales, creando un futuro donde la tecnología y la innovación mejoren la vida de las personas. Queremos expandir nuestras operaciones a nivel global, ofreciendo nuestros servicios en cada rincón del mundo y estableciendo nuevos estándares en la industria.
  </p>
  <div class="image-container">
    <img src="assets/Designer (7).jpeg" alt="Descripción de la Imagen">
  </div>
  <h1>Nuetros Valores</h1>
  <p>
    Innovación: Buscamos constantemente nuevas formas de mejorar y adaptarnos a las necesidades cambiantes de nuestros clientes.<br>
    Compromiso con la Calidad: Nos dedicamos a ofrecer productos y servicios de la más alta calidad y a superar las expectativas de nuestros usuarios.<br>
    Integridad: Operamos con honestidad y transparencia, manteniendo siempre los más altos estándares éticos.<br>
    Trabajo en Equipo: Fomentamos un ambiente colaborativo donde cada miembro del equipo contribuye al éxito general y se apoya mutuamente.<br>
    Orientación al Cliente: Nuestros clientes están en el centro de todo lo que hacemos, y nos esforzamos por ofrecerles una experiencia excepcional en cada interacción.
  </p>
  <div class="image-container">
    <img src="assets/Designer (8).jpeg" alt="Descripción de la Imagen">
  </div>
</div>
</ion-content>
