<ion-header [translucent]="true">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor">
    <h1>Términos y Condiciones</h1>
    <p>
      Bienvenido a nuestra aplicación. Al acceder y usar esta aplicación, aceptas cumplir y estar
      sujeto a los siguientes términos y condiciones. Si no estás de acuerdo con estos términos, no
      debes usar nuestra aplicación.
    </p>

    <h2>1. Aceptación de los Términos</h2>
    <p>
      Al utilizar nuestra aplicación, aceptas que estás sujeto a estos términos y condiciones, que
      pueden ser actualizados periódicamente sin previo aviso. Es tu responsabilidad revisar los
      términos de vez en cuando para estar al tanto de cualquier cambio.
    </p>

    <h2>2. Uso de la Aplicación</h2>
    <p>
      Solo puedes utilizar nuestra aplicación para fines legales y de acuerdo con todas las leyes y
      regulaciones aplicables. Te comprometes a no utilizar la aplicación de manera que pueda
      infringir o violar los derechos de terceros.
    </p>

    <h2>3. Privacidad</h2>
    <p>
      Tu privacidad es importante para nosotros. Por favor, revisa nuestra política de privacidad para
      entender cómo recopilamos, usamos y protegemos tu información personal.
    </p>

    <h2>4. Modificaciones</h2>
    <p>
      Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin
      previo aviso. Cualquier cambio se publicará en esta página y se considerará efectivo a partir
      de su publicación.
    </p>

    <h2>5. Contacto</h2>
    <p>
      Si tienes alguna pregunta sobre estos términos y condiciones, por favor, contáctanos a través
      de nuestra página de contacto.
    </p>
  </div>
</ion-content>
