
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title class="menu-logo">
          Te Llevo App
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list lines="none">
        <ion-item class="user-info">
          <ion-avatar slot="start">
            <ion-icon id="correo" name="person-circle" size="large"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{ nombre || 'Usuario' }}</h2>
            <h2>{{ apellido }}</h2>
            <p id="correo">{{ gmail }}</p>
          </ion-label>
        </ion-item>
  
        <ion-item-divider>
          <ion-label id="correo">Navegación</ion-label>
        </ion-item-divider>
  
        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/home" routerDirection="root" routerLinkActive="selected">
            <ion-icon id="correo" slot="start" name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
  
          <!-- Botón Crear viaje condicionado -->
          <ion-item button 
            *ngIf="tienePatente"
            routerLink="/crear" 
            routerDirection="root" 
            routerLinkActive="selected">
            <ion-icon id="correo" slot="start" name="add-circle-outline"></ion-icon>
            <ion-label>Crear viaje</ion-label>
          </ion-item>
  
          <!-- Botón alternativo cuando no tiene patente -->
          <ion-item button 
            *ngIf="!tienePatente"
            (click)="mostrarMensajeNoPatente()">
            <ion-icon id="correo" slot="start" name="add-circle-outline"></ion-icon>
            <ion-label>Crear viaje</ion-label>
          </ion-item>
  
          <ion-item button routerLink="/solicitar" routerDirection="root" routerLinkActive="selected">
            <ion-icon id="correo" slot="start" name="car-outline"></ion-icon>
            <ion-label>Solicitar viaje</ion-label>
          </ion-item>
  
          <ion-item button routerLink="/historial" routerDirection="root" routerLinkActive="selected">
            <ion-icon id="correo" slot="start" name="clipboard-outline"></ion-icon>
            <ion-label>Historial</ion-label>
          </ion-item>
  
          <ion-item button routerLink="/perfil-usuario" routerDirection="root" routerLinkActive="selected">
            <ion-icon id="correo" slot="start" name="person-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
  
        <ion-item-divider>
          <ion-label id="correo">Configuración</ion-label>
        </ion-item-divider>
  
        <ion-item button (click)="toggleTheme()">
          <ion-icon id="correo" slot="start" [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"></ion-icon>
          <ion-label>Cambiar modo</ion-label>
        </ion-item>
  
        <ion-item button (click)="cerrarSesion()">
          <ion-icon id="correo" slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="header-title-container">
          <img class="header-logo"  src="https://www.soul.com.uy/Cuentas/suzuki/public/7fa1df622f.png" alt="Te Llevo Logo">
          <p class="tellevo">Te Llevo app</p>     </div>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="guardarViaje()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="viajeActual.nombre" name="nombre" required readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fono</ion-label>
      <ion-input type="text" [(ngModel)]="viajeActual.fono" name="fono" required readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Patente</ion-label>
      <ion-input type="text" [(ngModel)]="viajeActual.patente" name="patente" required readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label id="correo" position="floating">Destino</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="viajeActual.destino" 
        name="destino" 
        required 
        (ionInput)="updateSearchResults()"
        placeholder="Buscar destino...">
      </ion-input>
    </ion-item>

    <!-- Lista de sugerencias de destino -->
    <ion-list *ngIf="autocompleteItems.length > 0" class="autocomplete-list">
      <ion-item *ngFor="let item of autocompleteItems" (click)="selectSearchResult(item)">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>{{ item.description }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Capacidad de pasajeros</ion-label>
      <ion-select [(ngModel)]="viajeActual.capacidad" name="capacidad" required>
        <ion-select-option [value]="1">1 pasajero</ion-select-option>
        <ion-select-option [value]="2">2 pasajeros</ion-select-option>
        <ion-select-option [value]="3">3 pasajeros</ion-select-option>
        <ion-select-option [value]="4">4 pasajeros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>¿Cobrar por el viaje?</ion-label>
      <ion-toggle [(ngModel)]="viajeActual.cobro" name="cobro" (ionChange)="actualizarCobro()"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="viajeActual.cobro">
      <ion-label  id="correo" position="floating">Monto por pasajero ($)</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="viajeActual.monto" 
        name="monto" 
        required
        min="0"
        placeholder="Ingrese el monto...">
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      {{ editandoViaje ? 'Actualizar Viaje' : 'Guardar Viaje' }}
    </ion-button>
  </form>

 
  <h2>Viajes guardados</h2>
  <div *ngIf="viajes.length > 0; else noViajes">
    
    <ion-list>
      <ion-item *ngFor="let viaje of viajes">
        <ion-label>
          <h3 id="correo">{{ viaje.nombre }}</h3>
          <p id="correo">{{ viaje.destino }} - {{ viaje.fecha }}</p>
        </ion-label>
        <ion-button fill="clear" color="primary" (click)="irAlMapa(viaje.destino)">
          <ion-icon id="correo" name="map-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="editarViaje(viaje)" fill="clear" color="primary">
          <ion-icon id="correo" name="create"></ion-icon>
          
        </ion-button>        <ion-button (click)="eliminarViaje(viaje.id)" fill="clear" color="danger"> <ion-icon id="correo" name="trash"></ion-icon> </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <!-- Mensaje cuando no hay viajes -->
  <ng-template #noViajes>
    <div class="moving-car">
      <img src="https://www.soul.com.uy/Cuentas/suzuki/public/7fa1df622f.png" alt="">
    </div>
    <div class="no-viajes">
      <p id="correo">No hay viajes creados aún.</p>
    </div>
  </ng-template>
  
</ion-content>

